body{
    max-width: 45%;
    margin: 0 auto;
}

.comicContainer{
    border: solid black;
    height: 72vh;
}

.rowOne, .rowTwo {
    border: solid navy;
    height: 45%;
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.block{
    /* border: solid green; */
    width: 33%;

}

.pic{
    /* border: solid black; */
    background-color: black;
    width: 100%;
    height: 70%;
}

.punchLine{
    /* border: solid black; */
    height:30%;
    text-align: center;
    font-family: cursive;
}

